block navs
  .forp-header.mdl-layout__header.mdl-layout__header--waterfall
    .mdl-layout__header-row
      //- Title
      span.mdl-layout-title(href='/') For P
      //- Add spacer, to align navigation to the right
      .mdl-layout-spacer
      //- Navigation
      nav.mdl-navigation
        a.mdl-navigation__link(href='#') About
        a.mdl-navigation__link(href='#') Contact
  .forp-drawer.mdl-layout__drawer
    span.mdl-layout-title For P
    nav.mdl-navigation
      span.forp-drawer-subtitle.mdl-navigation__link Languages
      a.mdl-navigation__link(href='sites') All
      a.mdl-navigation__link(href='#') C
      a.mdl-navigation__link(href='#') C++
      a.mdl-navigation__link(href='#') C#
      a.mdl-navigation__link(href='#') Java
      a.mdl-navigation__link(href='#') HTML &amp; CSS
      a.mdl-navigation__link(href='#') JavaScript
      a.mdl-navigation__link(href='#') PHP
      a.mdl-navigation__link(href='#') Ruby
      a.mdl-navigation__link(href='#') Python
      .forp-drawer-seperator
      span.forp-drawer-subtitle.mdl-navigation__link Features
      a.mdl-navigation__link(href='#') Education
      a.mdl-navigation__link(href='#') Reference
      a.mdl-navigation__link(href='#') Community
      a.mdl-navigation__link(href='#') Tools
      a.mdl-navigation__link(href='#') Quiz
      .forp-drawer-seperator
      a.mdl-navigation__link(href='#') About
      a.mdl-navigation__link(href='#') Contact
