block navs
  .forp-header.mdl-layout__header.mdl-layout__header--waterfall
    .mdl-layout__header-row
      //- Title
      a.forp-layout-title.mdl-layout-title(href='/') For P
      //- Add spacer, to align navigation to the right
      .mdl-layout-spacer
      //- Navigation
      nav.mdl-navigation
        a.mdl-navigation__link(href='/about') About
        a.mdl-navigation__link(href='/help') Help
        a.mdl-navigation__link(href='/contact') Contact
        a.mdl-navigation__link(href='/signin') Signin
        a.mdl-navigation__link(href='/signout') Signout
  //- Drawer
  .forp-drawer.mdl-layout__drawer
    span.mdl-layout-title For P
    nav.mdl-navigation
      span.forp-drawer-subtitle.mdl-navigation__link Languages
      a.mdl-navigation__link(href='/sites') All
      a.mdl-navigation__link(href='/sites?lang=c') C
      a.mdl-navigation__link(href='/sites?lang=c++') C++
      a.mdl-navigation__link(href='/sites?lang=csharp') C#
      a.mdl-navigation__link(href='/sites?lang=java') Java
      a.mdl-navigation__link(href='/sites?lang=html') HTML
      a.mdl-navigation__link(href='/sites?lang=css') CSS
      a.mdl-navigation__link(href='/sites?lang=javascript') JavaScript
      a.mdl-navigation__link(href='/sites?lang=php') PHP
      a.mdl-navigation__link(href='/sites?lang=ruby') Ruby
      a.mdl-navigation__link(href='/sites?lang=python') Python
      .forp-drawer-seperator
      span.forp-drawer-subtitle.mdl-navigation__link Features
      a.mdl-navigation__link(href='#') Education
      a.mdl-navigation__link(href='#') Reference
      a.mdl-navigation__link(href='#') Community
      a.mdl-navigation__link(href='#') Tools
      a.mdl-navigation__link(href='#') Quiz
      .forp-drawer-seperator
      a.mdl-navigation__link(href='/about') About
      a.mdl-navigation__link(href='/help') Help
      a.mdl-navigation__link(href='/contact') Contact
