extends layout

block content
  .mdl-grid.forp-max-width
    .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      .mdl-card__title
        h2.mdl-card__title-text What is "For Programming"?
      .mdl-card__media
        img.article-image(src='images/about-header.jpg')
      .mdl-card__supporting-text
        p
        | Team 1641 is a team-project team that met in fall semester of sophomore.
