extends layout

block content
  .mdl-grid.forp-max-width
    .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      .mdl-card__title
        h2.mdl-card__title-text How to contact 1641?
      .mdl-card__media
        img.article-image(src='images/contact-image.jpg')
      .mdl-card__supporting-text
        p
        | Contact us by sending email.
        ul
          li kimyr222@naver.com
          li yuyaebean@icloud.com
          li leeseonghyun21@gmail.com
