extends layout

block content
  .mdl-grid.forp-max-width
    .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      .mdl-card__title
        h2.mdl-card__title-text How to use "For Programming"?
      .mdl-card__media
        img.article-image(src='images/help_1.png')
        img.article-image(src='images/help_2.png')
        img.article-image(src='images/help_3.png')
        img.article-image(src='images/help_4.png')
        img.article-image(src='images/help_5.png')
      .mdl-card__supporting-text
        p
        | 
