extends layout

block content
  .mdl-grid.forp-max-width
    .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      .mdl-card__title
        h2.mdl-card__title-text How to use "For Programming"?
      .mdl-card__media
        img.article-image(src='images/forp_home.jpg')
      .mdl-card__supporting-text
        p
        | 
