extends layout

block content
  .forp-do-something-section.mdl-typography--text-center
    .logo-font.forp-slogan Do something with Programming.
    .logo-font.forp-sub-slogan Explore programming related pages in our site.

  script.
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5a266431d0795768aaf8d692/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();