extends layout

block content
  .forp-do-something-section.mdl-typography--text-center
    .logo-font.forp-slogan Do something with Programming.
    .logo-font.forp-sub-slogan Explore programming related pages in our site.
