doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title For P
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.blue-indigo.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer, src='https://code.getmdl.io/1.3.0/material.min.js')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      block navs
        include includes/navs
      
      .forp-content.mdl-layout__content
        block content
          
        block footer
          include includes/footer
