extends layout
  
block content
  img.forp-help-img(src='images/help_2.png')
  .main
    form.form-signin(action='/signin', method='POST')
      h3.form-signin-heading Signin
      label.sr-only(for='email') Email address
      input(
        type='email', id='email', name='email', class='form-control',
        placeholder='Email address', required, autofocus
      )
      label.sr-only(for='password') Password
      input(
        type='password', id='password', name='password', class='form-control',
        placeholder='Passowrd', required, autofocus
      )
      .checkbox
        label
          input(type="checkbox", value="remember-me")
          |
          | Remember me
      button.btn.btn-mine.btn-block(type='submit') Signin
        
      div.sub
        a(href='/users/signup') Signup
        |
        | /
        |
        a(href='/reset-password') Reset Password
        
    .forp-fixed-right-bottom
      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.forp-help-btn
        i.material-icons help_outline

      
