extends ../layout

block content
  img.forp-help-img(src='/images/help_4.png')
  .mdl-grid.forp-max-width
    .mdl-grid    
      .mdl-cell--12-col
        h1.main-title Sites for programming        
        .forp-fixed-right-bottom
          a.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href='/sites/new')
            i.material-icons add
          button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.forp-help-btn
            i.material-icons help_outlie

        if sites.total > 0
          .mdl-typography--text-right Total #{sites.total} site(s)
    
      if sites.total <= 0
        span.mdl-chip
          span.mdl-chip__text No sites available yet
      else
        each site in sites.docs
          include _site
