extends ../layout

block content
  .mdl-grid.forp-max-width
    .mdl-grid
      .mdl-cell--12-col
        h1.main-title Sites for programming
        if sites.total > 0
          .mdl-typography--text-right Total #{sites.total} site(s)
    
      if sites.total <= 0
        span.mdl-chip
          span.mdl-chip__text No sites available yet
      else
        each site in sites.docs
          include _site
