.forp-header {
  overflow: visible;
}

.forp-layout-title {
  color: #fff;
  text-decoration: none;
}

.forp-drawer {
  border-right: 0;

  span.mdl-navigation__link.forp-drawer-subtitle {
    color: #2196F3;
    font-size: 14px;
    font-weight: 600;
  }

  span.mdl-navigation__link.forp-drawer-subtitle:hover {
    background: transparent;
  }

  .forp-drawer-seperator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }
}

.forp-do-something-section {
  position: relative;
  width: auto;
  height: 720px;
  background: url('../images/main-background.jpg') center 30% no-repeat;
  background-color: #f3f3f3;
  background-size: cover;
  @media screen and (max-width: 900px) {
    height: 350px;
  }
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 500;
}

.forp-slogan {
  font-size: 60px;
  padding-top: 160px;
  @media screen and (max-width: 900px) {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }
}

.forp-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
  @media screen and (max-width: 900px) {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }
}

.forp-footer {
  position: relative;
  margin-top: 3em;
  @media screen and (max-width: 900px) {
    font-size: .8em;
  }
}

.article-image {
  width: 100%;
  height: auto;
}

.forp-max-width {
  max-width: 900px;
  margin: auto;
}

.not-deco {
  text-decoration: none;
  color: inherit;
}
