.w-100 {
  width: 100%;
}

.forp-float-left {
  float: left;
}

.forp-float-right {
  float: right;
}

.forp-header {
  overflow: visible;
}

.forp-layout-title {
  color: #fff;
  text-decoration: none;
}

.forp-drawer {
  border-right: 0;

  span.mdl-navigation__link.forp-drawer-subtitle {
    color: #2196F3;
    font-size: 14px;
    font-weight: 600;
  }

  span.mdl-navigation__link.forp-drawer-subtitle:hover {
    background: transparent;
  }

  .forp-drawer-seperator {
    background-color: #dcdcdc;
    height: 1px;
    margin: 8px 0;
  }
}

.forp-do-something-section {
  background: url('../images/main-background.jpg') center 30% no-repeat;
  background-color: #f3f3f3;
  background-size: cover;
  height: 720px;
  position: relative;
  width: auto;
  @media screen and (max-width: 900px) {
    height: 350px;
  }
}

.logo-font {
  color: #555;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1;
}

.forp-slogan {
  font-size: 60px;
  padding-top: 160px;
  @media screen and (max-width: 900px) {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }
}

.forp-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
  @media screen and (max-width: 900px) {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }
}

.forp-footer {
  margin-top: 3em;
  position: relative;
  @media screen and (max-width: 900px) {
    font-size: .8em;
  }
}

.mdl-layout__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
 }

 .mdl-layout__content > *:not(.mdl-layout-spacer) {
   -webkit-flex: none;
   -ms-flex: none;
   flex: none;
 }

.article-image {
  height: auto;
  width: 100%;
}

.forp-max-width {
  margin: auto;
  max-width: 900px;
}

.not-deco {
  color: inherit;
  text-decoration: none;
}

.forp-large-textfield {
  width: 60em;
}

.forp-button--delete {
  color: #fff;
  background: #ff4081;

  &:hover {
    background-color: #ff4081;
  }
}