body {
  font-size: 12px;
}

.main {
  margin: 0 auto;
  max-width: 320px;
}

.form-signin {
  margin: 0 auto;
  padding: 1em;
  width: 300px;

  .form-signin-heading {
    font-weight: bold;
    text-align: center;
  }

  .btn-mine {
    background-color: #2196f3;
    color: #fff;
  }
}
