.main-title {
  color: #555;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1;
}

.form-group {
  display: block;
  margin-bottom: 1rem;
}

.forp-site-card {
  .site-image {
    height: auto;
    width: 100%;
  }

  .mdl-card__title {
    padding-bottom: 0;
  }

  .mdl-card__menu {
    color: #fff;
  }
}

.forp-fixed-right-bottom {
  bottom: 3rem;
  position: fixed;
  right: 6rem;
  z-index: 300;
}

.forp-detail-subtitle {
  margin-bottom: 8px;
  margin-top: 12px;
}
