.main-title {
  color: #555;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1;
}

.form-group {
  display: block;
  margin-bottom: 1rem;
}

.forp-site-card {
  .site-image {
    width: 100%;
    height: auto;
  }
  .mdl-card__title {
    padding-bottom: 0;
  }
  .mdl-card__menu {
    color: #fff;
  }
}
