.forp-drawer {
  border-right: none;

  span.mdl-navigation__link.forp-drawer-subtitle {
    color: #2196F3;
    font-size: 14px;
    font-weight: 600;
  }

  span.mdl-navigation__link.forp-drawer-subtitle:hover {
    background: transparent;
  }

  .forp-drawer-seperator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }
}
